<div class="col-md-4 offset-md-2">
  <div class="card">
    <div class="card-body">
      <form>
        <div class="form-group">
          <input type="text" name="title" [(ngModel)]="team.title" placeholder="Title" class="form-control" autofocus>
        </div>
        <div class="form-group">
          <textarea name="desciption" [(ngModel)]="team.description" placeholder="Description" rows="2" class="form-control"></textarea>
        </div>
        <div class="form-group">
          <input type="url" name="image" [(ngModel)]="team.image" placeholder="Imagen" class="form-control" autofocus>
        </div>
        <button class="btn btn-success btn-block" (click)="edit ? editTeam() : saveTeam()">
          save
        </button>
      </form>
    </div>
  </div>
</div>

<div class="col-md-4">
  <div class="card card-body text-center">
  <img [src]="team.image == '' ? '/assets/not-available.png' : team.image" alt="No Image" class="card-img-top">
    <h3>{{team.id}}. {{team.title == '' ? 'Team Title' : team.title}}</h3>
    <p>{{team.description == '' ? 'Write your Descrition' : team.description}}</p>
    <p>{{team.created_at | date: 'yyyy-MM-dd'}}</p>
  </div>
</div>
